export('getAirportArrivals')
export('getAirportDepartures')
export('getAircraftFlights')
export('getIntervalFlights')
export('getSingleTimeStateVectors')
export('getAircraftStateVectorsSeries')
export('getAircraftMetadata')
export('getAirportMetadata')
import('httr')
import('xml2')

