export('getAirportArrivals')
export('getAirportDepartures')
export('getAircraftFlights')
export('getIntervalFlights')
export('getSingleTimeStateVectors')
export('getAircraftStateVectorsSeries')
export('getAircraftMetadata')
export('getAirportMetadata')
export('getRouteMetadata')
export('plotRoute')
export('plotRoutes')
import('httr')
import('xml2')
import('ggplot2')
import('ggmap')
