export('getAirportArrivals')
export('getAirportDepartures')
export('getAircraftFlights')
export('getIntervalFlights')
export('getSingleTimeStateVectors')
export('getAircraftStateVectorsSeries')
export('getAircraftMetadata')
export('getAirportMetadata')
export('getRouteMetadata')
export('plotRoute')
export('plotRoutes')
export('plotPlanes')
export('ADSBDecoder')
export('openSkiesAirport')
export('openSkiesStateVector')
export('openSkiesStateVectorSet')
export('openSkiesAircraft')
export('openSkiesRoute')
export('openSkiesFlight')
export('clusterRoutes')
export('getVectorSetListFeatures')
export('getVectorSetFeatures')
export('getIntervalStateVectors')
export('getOSNCoverage')
export('findFlightPhases')
import('httr')
import('ssh')
import('xml2')
import('grid')
import('ggmap')
import('dbscan')
import('cluster')
importFrom('magick', image_read)
importFrom('magick', image_background)
importFrom('utils', tail)
importFrom('stats', na.omit, cutree, dist, hclust, kmeans)
importFrom('ggplot2', aes)
importFrom('ggplot2', geom_segment)
importFrom('ggplot2', geom_point)
importFrom('ggplot2', geom_path)
importFrom('ggplot2', scale_color_manual)
importFrom('ggplot2', theme)
importFrom('ggplot2', element_blank)
importFrom('R6', R6Class)
